# environment
.env
.env/
.venv/
venv/
.env.*
!.env.example

# JWT
jwt.private


# IDE metadata
.idea/
.vscode/

# databases
*.sqlite3
*.db

# docker
docker-compose.override.yml

# logs
logs/
*.log

# builds 
dist/
build/
out/

# [ PYTHON ]
# cache and bins
pycache/
*.py[cod]
*.pyo

# tests
.pytest_cache/
.coverage
htmlcov/
