.section {
  background-color: #FFBB02;
  border-radius: 25px;
  padding: 11px 28px 28px 28px;
  margin-bottom: 15px;
}

.section h2 {
  font-size: 36px;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}